* {
  margin: 0px; padding: 0px;
  font-family: arial, helvetica, sans-serif; color: #066105; background: #FFFFFF;
  line-height: 1.3em;
}

/* Para que siempre aparezca la barra de desplazamiento vertical de la ventana del navegador */
html {
  overflow: scroll;
}

body {
  margin: 10px;
}

h1 {
  font-size: 1.6em;
  color: #7c00ed;
}

h2, #primeros p, #segundos p, #postres p {
  font-size: 1.4em;
  font-weight: bold;
  color: #000000;
}

h3 {
  margin-top: 20px;
  font-size: 1.2em;
}

h4 {
  margin-top: 10px;
  font-size: 1.1em;
}

ul {
  margin-left: 10px;
}

li {
  margin: 5px;
}

p {
  margin: 5px;
}

p span{
  font-style: italic;
  color: #000000;
}

a {
  color: #0b16bb; text-decoration: none; border-bottom: 1px dotted #0b16bb;
}

a:visited {
  color: #920093; border-bottom: 1px solid #920093;
}

a:focus, a:hover {
  color: #003366; background: #CCCCCC; border-bottom: 1px solid #003366;
}

#abuela{
  border-bottom: none;
}

#abuela a:hover{
  background: none;
}

#titulo {
  height: 90px;
}

#titulo #texto {
  float: left;
  width: 60%;
}

#titulo p {
  font-size: 1.2em;
}
#titulo #logo{
  float: left;
  width: 40%;
}

#navegacion {
  position: absolute; left: 10px; top: 100px; width: 200px;
}

#navegacion h2 {
  display: none;
}

#navegacion ul {
  margin-left: 10px;
}

#navegacion li {
  list-style-type: none;
}

#contenido {
  margin-left: 201px; margin-right: 201px;
}

#contenido div {
  margin-left: 10px;
}

/* Esconde todos los apartados del contenido excepto presentaciÃ³n */
#primeros, #segundos, #postres{
  display: none;
}

#lateral {
  position: absolute; right: 10px; top: 100px; width: 200px;
}

#lateral h2, #lateral ul {
  margin-left: 10px;
  font-size: 1.2em;
}

#lateral li {
  list-style-type: none;
  font-size: 0.8em;
}

#pie {
  padding-top: 30px; padding-bottom: 30px; text-align: center;
}

#pie h2 {
  display: none;
}

#pie li {
  display: inline; list-style-type: none;
}

#pie a {
  border: 0px;

}

/* Para ocultar algo en los navegadores grÃ¡ficos */
.oculto {
  position: absolute;
  top: -5000px;
}

/*------------(CSS LOGO TAW)------------*/

.tawlogo {
font-family: arial, sans-serif;
border: 1px solid #555;
vertical-align: 0.3em;
font-weight: bold;
color: #fff;
font-size: 0.9em;
background-color: #555;
padding: 0;
}

.tawlogo .tnivel {
padding: 0 0.4em ;
border-bottom: 0px;
background-color: #555;
color: #fff;
font-size: 0.8em;
}

.tawlogo abbr {
border-bottom: 0px;
}

.tawlogo acronym{
border-bottom: 0px;
padding: 0 0.3em;
background-color: #fff;
color: #000;
}

.tawlogo sup{
padding: 0em;
vertical-align: 0.6em;
font-size: 0.6em;
}
/*------------(CSS LOGO TAW)------------*/

/*----Modificaciones web----*/
#taw{
  color: black;
  margin-left: 5px;
}

#fototorti{
  width: 300px;
  height: 200px;
  margin-top: 20px;
}
td{
  display: block;
  font-weight: normal;
  margin: 3px 5px 3px 5px;
  padding: 1px 3px 1px 3px;
}
#preparacion{
  display: block;
  color: rgb(10, 30, 115);
}
td, th{
  color: black;
}
iframe{
  margin: 10px 0 0 175px;
}
#tabIng{
  display: inline-block;
  margin-left: 350px;
}
